# This is Git's per-user configuration file.
[core]
	editor = vim
[init]
	defaultBranch = main

[includeIf "gitdir:~/dotfiles/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/"]
  path = .gitconfig-dtex
