# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jose Pablo Valle
	email = jp.valle.one@icloud.com

[core]
	editor = vim
[init]
	defaultBranch = main
